@charset "UTF-8";
/* CSS Document */
a:hover {text-decoration:underline;}
#content {
	height:auto; 
	min-width:980px;
	background:rgba(34, 37, 44, .9);
	margin:60px 0 60px 0;
	padding:0 0 60px 0;}
#interior {
	width:980px;
	margin:0 auto 0 auto;
	}
#interior h2 {
	font-family: 'Arimo', arial, serif;
	text-transform:lowercase;
	font-weight:bold;
	color:white;
	font-size:6.5em;
	padding:10px 0 0 0;
	margin:0;}
#interior ul {list-style-type:none;
	margin:0;}
#interior ul.subgroups li h3 {
	color:white;
	font-size:1.45em;
	font-weight:normal;
	font-family: 'Arimo', arial, serif;
	text-transform:lowercase;
	border-top:2px solid white; 
	border-bottom:2px solid white;
	padding:5px 0 5px 0;}
#interior ul.subgroups {
	margin-left:-40px;}
ul.events {float:left;
	width:360px;
	padding:20px 45px 0 0;}
ul.events li {
	color:white;
	font-family: 'Arimo', arial, serif;
	padding:0 0 15px 0;
	font-weight:bold;}
.committee_description {
	float: left;
	width: 570px;
}
.committee_description_large {
	
}
.committee_description_small {
	width: 570px;
	float:left;
}
p.description, ul.subgroups li p 
	{float:left;
	margin:12px 0 20px 0;
	padding:0 0 0 0px;
	color:white;
	font-family: 'Arimo', arial, serif;
	font-weight:normal;
	line-height:2em;}
.clear {clear:both;}
.date {float:right;}
.fontweight {font-weight:normal;}


/*EVENTS PAGE */
#interior {
	width:980px;
	margin:0 auto 0 auto;
	}
#interior h2 {
	font-family: 'Arimo', arial, serif;
	text-transform:lowercase;
	font-weight:bold;
	color:white;
	font-size:6.5em;
	padding:10px 0 15px 0;
	margin:0;}
table.events {width:980px;
	border-collapse:collapse;}
.events thead {font-family: 'Arimo', arial, serif;
	font-size:1.5em;
	color:white;
}
.events thead tr td{ 
	border-top:2px solid white; 
	border-bottom:2px solid white; 
	border-collapse:collapse;
	
	}
.events tbody tr td {
	font-family: 'Arimo', arial, serif;
	font-size:1.2em;
	height:28px;
	color:white;}
	
/*FORMS PAGES*/
h2.float {
	float:left;}
h3.tagline {
	font-family: 'Arimo', arial, serif;
	text-transform:lowercase;
	color:#A5A3A3;
	float:left;
	width:305px;
	margin:65px 0 0 5px;}
form {
	font-family: 'Arimo', arial, serif;
	color:white;
	text-transform:uppercase;
	margin:0;}
input {width:750px; height:20px;}
input.question {
	height:85px; 
	margin:0;}
.labels {width:200px;
	 float:left; 
	 margin-top:10px; }
.inputs {
	width:740px; 
	float:right;
	
	}
.inputs input {margin:10px 0 10px 0;}
input.student {float:left;
	width:50px;}
.field-group {
	float:none;
	margin:10px 0 20px 0; 
	padding:5px; background-color:#eee;
	border-width:2px; 
	border-color:#d0d0d0;
	width:745px;}
.ui.interestgroup_field {
	display:block; 
	padding:5px;
	margin:0;
		}
.ui.interestgroup_field li, ..ui.interestgroup_row {
	display:block;
	margin:0;
	padding:0;
	list-style:none;}
.interestgroup_field li label {color:black;}
ul.interestgroup_field input {
	display:inline;
	width:auto;}
ul.interestgroup_field label {
	display:inline;
	padding:0 30px 0 30px;
	}
ul.interestgroup_field {list-style-type:none;}



.labels label {
	display:block;}
label.name, label.email, label.comment {
	padding: 0 0 10px 0;
}

.inputs .comment {height:65px;}
label.name1, label.email1, label.student1  {
	padding:0 0 10px 0} 
label.format1 {padding-top:65px;}
.inputs input.subscribe.newsletter, .inputs input.submit.contact {
	background-color:#9d1212;
	font-family: 'Arimo', arial, serif;
	color:white;
	text-transform:lowercase;
	font-weight:bold;
	border:none;
	font-size:1.1em;}
/*EVENT LISTING*/
#promomedia {margin-top:20px;}
h2#eventheadline {text-transform:uppercase;
	width:485px;
	float:left;
	text-align:right;
	font-size:4em;
	line-height:.9em;
	margin-top:6px;}
#eventdetails {width:185px; float:left;}
#eventdetails h3 {color:white; 
	font-family: 'Arimo', arial, serif;
	line-height:;
	text-align:right;
	font-weight:normal;
	
}
#eventdescription {width:280px; float:left; margin:0 0 0 15px;}
#eventdescription p {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#A5A3A3;
	line-height:2.1em;
	margin-top:12px;}
#rightcolumn {float:right;margin:0 15px 0 15px;
width:465px;}
#leftcolumn {float:right; }
#calendar a {
	color:#A5A3A3;
	font-family: 'Arimo', arial, serif;
	text-transform:lowercase;
	font-weight:bold;
	text-decoration:none;
	font-size:1.1em;
	}
#calendar a:hover {
	color:white;
	font-family: 'Arimo', arial, serif;
	text-transform:lowercase;
	font-weight:bold;
	font-size:1.1em;
	}
#calendar {
	margin-top:10px;}
#rightcolumn h4 {
	color:#A5A3A3;
	font-family: 'Arimo', arial, serif;
	text-transform:uppercase;
	font-size:.7em;
	height:30px;
		margin-top:40px;
	 }
h4#nextupinterior {
	color:white;
	font-family: 'Arimo', arial, serif;
	font-size:2.3em;
	text-transform:lowercase;	}
#rightcolumn h4 a {
	background-image:url(../images/channel.png);
	float:right;
	display:block;
	background-position:-10px -10px;
	height:60px;
	text-indent:-9999px;
	width:226px;
	margin-right:60px;}
#rightcolumn h4 a:hover {
	background-image:url(../images/channel.png);
	float:right;
	display:block;
	background-position:-10px -71px;
	height:60px;
	text-indent:-9999px;
	width:226px;}
#rightcolumn ul {list-style-type:none;
	font-family: 'Arimo', arial, serif;
	color:#A5A3A3;
	margin:-30px 0 0 -40px;
	text-transform:uppercase;
	font-size:1.1em;
	line-height:1.4em;
	font-weight:normal;}
#rightcolumn ul.interiornextup {
	font-size:.9em;}
#viewall {float:left; margin-top:15px;}
#listingcontain {padding-top:30px;}

/*BOARD PAGE*/
#aboutus .info {float:left; width:300px;
	
	color:white;
	
	margin:-25px 20px 0 65px;
	}
#aboutus .info p {
	font-family: 'Arimo', arial, serif;
	font-weight:normal;
	font-size:1em;
	line-height:1.9em;}
#aboutus .photo {float:left; width:455px;}
#board .img {float:left; margin-right:75px;}
#board .info {float:left;
	font-family: 'Arimo', arial, serif;
	color:white;}
#board .info h4 {
	text-transform:uppercase;
	display:inline;
	border-bottom:1px solid white;
	padding-bottom:5px;}
#board .info h5 {
	font-weight:normal;
	font-size:1em;
	margin-top:10px;}
#board .info ul li{
	font-weight:normal;
	font-size:1em;
	line-height:1.2em;
	margin-left:-40px;
	}
#board .profile {margin:40px 0 0 65px;}
#aboutus a {
  background: red;
  border-radius: 5px;
  color: white;
  display: block;
  text-indent: 0;
  background-position: 0 0;
  height: 20px;
  padding: 10px;
  font-family: arial, sans-serif;
  width: 190px;
}
#aboutus a:hover {
  background: #DD0000;
  text-decoration: none;
}
#aboutus as:hover {
	background-image:url(../images/join.png);
	display:block;
	text-indent:-9999px;
	background-position:0 -61px;
	width:174px;
	height:60px;}
#interior .blogSummary h2.postTitle a {
	font-size:.25em;
	font-weight:normal;
	margin:0;
	padding:0;
	color:white;
	text-decoration:none;
	border-top:2px solid white;
	border-bottom:2px solid white;
	padding-top:1px;
	padding-bottom:1px;
	
	}
#interior .blogSummary h2.postTitle a:hover, #interior .blogSummary p.blogVitals a:hover, #interior .blogSummary p.tags a:hover,  #interior .blogSummary p.authorDate a:hover {
	color:#CCC;
	}
p.authorDate {
		color:#CCC;
		font-family: 'Arimo', arial, serif;
		font-weight:normal;
		font-size:1.4em;
		margin:0 0 20px 0;
		text-transform:lowercase;
		}
div#cabfareentry {
	width:980px;}
.blogSummary {color:#8E8D8D;
	font-family: 'Arimo', arial, serif;
	margin:0 0 70px 0;}
p.tags {
		color:#ccc;}
#BlogContent a {
	color:white;}
.blogSummary p.blogVitals {margin-top:30px;}
.blogEntry p {
	color:#8E8D8D;
	font-family:'Arimo', arial, serif;}
.blogEntry p.authorDate, #PageComments_holder.typography h4 {
	color:white;
	font-family:'Arimo', arial, serif;
	font-weight:normal;
	border-top:2px solid white;
	border-bottom:2px solid white;
	padding-top:1px;
	padding-bottom:1px;}
#BlogContent.typography p, #PageComments_holder.typography h4 {color:#CCC; 
	text-transform:lowercase;
	}
#BlogContent.typography p a {color:white;font-family:'Arimo', arial, serif;
	text-transform:lowercase;}
#BlogContent.typography p a:hover {color:#8E8D8D;}
form#PageCommentInterface_Form_PostCommentForm fieldset {border:none; padding:10px 0 5px 0;} 
form#PageCommentInterface_Form_PostCommentForm {margin-left:0;
	}
#PageComments_holder h4{margin-top:60px;
width:170px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:1.2em;}
input#PageCommentInterface_Form_PostCommentForm_action_postcomment.action {background-color:#9d1212;
	font-family: 'Arimo', arial, serif;
	color:white;
	text-transform:lowercase;
	font-weight:bold;
	border:none;
	font-size:1.1em;
	width:85px;
	height:25px;
	-webkit-border-radius: 10px;}
#PageCommentInterface_Form_PostCommentForm_Name, #PageCommentInterface_Form_PostCommentForm_CommenterURL, #PageCommentInterface_Form_PostCommentForm_Comment {margin-bottom:10px;}
#CommentHolder p, p.tags {font-family: 'Arimo', arial, serif;
	text-transform:lowercase;}
